@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.mob {
  display: none;
}

@media screen and (max-width: 900px) {
  .mob {
    display: block;
  }
}
